@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700&display=swap");
body {
  font-family: "Chivo", sans-serif;
  font-weight: 300;
  background: #f2f4f3;
}
.header {
  margin-bottom: 20px;
  padding: 10px 0px;
  font-weight: 400;
}
h1,
h2,
h3,
h4 {
  font-weight: 800;
}

.clearTop {
  padding-top: 73px;
}

.btn-light {
  background: #f2f4f3;
  color: #00245d;
  border-color: #f6f8f7;
  text-transform: uppercase;
}
.btn-dark {
  color: #f2f4f3;
  background-color: #00245d;
  border-color: #003790;
  text-transform: uppercase;
}
